.footer {
    width: 100%;
    padding-block: 1.5rem;
    position: relative;
    background-color: #2d2d2d;
}
.footer h3, h4 {
    color: white;
}
.footer p {
    color: #7A7A7A
}
.footer-box {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr 2fr;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: 2rem;
    text-align: left;
}
.footer-social {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 2rem;
}
.footer-social a {
    color: white;
    text-decoration: none;
}
.footer-box-discover {
    justify-content: end;
}
.footer-box-discover-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}
.footer-box-discover-item a {
    color: #7A7A7A;
    text-decoration: none;
}
.footer-social {
    display: flex;
    gap: 1.3rem;
    font-size: 1.5rem;
    align-items: center;
}
.footer-social a {
    padding: .2rem;
    border-radius: 50%;
    transition: all .3s ease-in;
    display: grid;
}

@media screen and (max-width: 850px) {
    .footer-box {
        width: 90%;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 550px) {
    .footer-box {
        width: 90%;
        grid-template-columns: 1fr;
    }
}