.section {
    display: flex;
    text-align: left;
    justify-content: center;
    background: whitesmoke;
}
.section-title {
    margin-top: 2rem;
}
@media screen and (max-width:1000px) {
    .section {
        flex-direction: column;
        align-items: center;
    }
    
}